@charset "UTF-8";
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css";
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

/*숨김 콘텐츠*/
.skip-nav, .hidden, legend {
  background: red;
  position: absolute;
  left: -9999em;
}

.skip-nav:focus {
  left: 0;
  z-index: 10;
}

/*기본 스타일*/
body {
  font-family: 'Poppins', sans-serif;
  color: #181818;
  margin: 0;
}

ul, li {
  list-style: none;
}

.intro-heading, .product-heading, .service-heading, .blog-heading, .subscription-heading {
  font-size: 2rem;
  text-align: center;
}

.intro-content, .product-content, .service-content, .service p, .blog-brief, .subscription-content{
  color: rgba(51, 51, 51, 0.5);
  line-height: 1.5;
  font-weight: normal;
}

.product, .service, .blog, .subscription, .location, .footer {
  margin-top: 100px;
}

/*링크 스타일*/
a {
  text-decoration: none;
  color: inherit;
}

a:hover, a:focus {
  color: rgb(238, 98, 67);
}

/*컨테이너*/
.wrapper {
  background: #fff;
  margin: 0;
  padding: 0;
}

.intro, .main-content, .footer {
  width: 1140px;
  margin: 0 auto;
  box-sizing: border-box;
}

/*헤더*/
.header {
  width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  background: rgb(3, 166, 123);
}

/*메뉴*/
.menu {
  position: relative;
}

.menu h1 {
  display: inline-block;
  padding-left: 150px;
}

.gnb a {
  padding: 3px;
}

.burgerbar-list {
  text-align: right;
  height: 30px;
  overflow: hidden;
  transition: all 0.5s;
  position: absolute;
  top: 8px;
  right: 150px;
}

.burgerbar-list a {
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 0.9rem;
}

.burgerbar-list:hover, .burgerbar-list:focus {
  height: 140px;
}

/*인트로 및 기능*/
.intro-heading {
  margin-top: 200px;
  color: #fff;
  font-size: 2.5rem;
}

.intro-content {
  text-align: center;
  width: 840px;
  padding-left: 150px;
  color: #fff;
  opacity: 0.7;
}

.intro-btn {
  border-radius: 4px;
  border: 0;
  background: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(3, 166, 123);
  padding: 15px 69px;
  margin: 40px 40px 80px 455px;
}

.feature {
  overflow: hidden;
  color: #fff;
}

.feature1, .feature2, .feature3 {
  float: left;
  width: 370px;
  margin-right: 8px;
}

.feature1 dt, .feature2 dt, .feature3 dt {
  margin-bottom: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
}

.feature1 dd, .feature2 dd, .feature3 dd {
  margin: 0;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.5;
  font-weight: normal;
  font-size: 0.9rem;
}

.feature::after {
  content: url("./img4/Rectangle 1.png");
  display: block;
  margin-bottom: 60px;
}

/*상품*/
.product {
  position: relative;
}

.product::after {
  content: "";
  display: block;
  clear: left;
}

.product1-detail, .product2-detail {
  float: left;
  margin: 10px 0;
  padding: 0;
}

.product1-detail {
  margin-right: 20px;
}

.product1-detail span, .product2-detail span, .product1-detail figcaption, .product2-detail figcaption {
  display: block;
  text-align: center;
}

.product1-detail span, .product2-detail span {
  color: rgb(3, 166, 123);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 10px 0 5px 0;
}

.product1-detail figcaption, .product2-detail figcaption {
  font-size: 1.5rem;
  font-weight: bold;
}

.product1-detail .product-price, .product2-detail .product-price {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.2rem;
  letter-spacing: -2px;
}

.product1-detail .product-price {
  position: absolute;
  top: 95px;
  left: 35px;
}

.product2-detail .product-price {
  position: absolute;
  top: 95px;
  right: 35px;
}

.product2-detail::after {
  content: url("./img4/Pagination.png");
  display: block;
  margin-left: -30px;
  margin-top: 80px;
}

/*서비스*/
.service-content {
  text-align: center;
  width: 690px;
  padding-left: 227px;
  margin-bottom: 66px;
}

.service-detail {
  display: flex;
  text-align: center;
}

.service-detail1, .service-detail2, .service-detail3 {
  margin: 10px;
}

.service-detail figcaption {
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*블로그*/

.blog-content1, .blog-content2, .blog-content3, .blog-content4 {
  float: left;
  width: 560px;
  margin: 5px;
}

.blog::after {
  content: "";
  display: block;
  clear: left;
}

.blog-category {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(3, 166, 123);
  display: inline-block;
  margin-top: 10px;
}

.blog-title {
  font-size: 1.5rem;
  font-weight: normal;
  color: #333333;
  margin: 10px 0;
}

.blog-btn {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
  background: rgb(3, 166, 123);
  border-radius: 4px;
  border: 0;
  padding: 15px 85px;
  margin: 80px 450px;
}

/*구독*/
.subscription-content {
  text-align: center;
  width: 690px;
  padding-left: 227px;
  margin-bottom: 35px;
}

.subscription-box fieldset {
  border: 0;
  text-align: center;
}

.subscription-box input, .subscription-box button {
  border: 0;
  border-radius: 3px;
  font-weight: lighter;
  font-size: 0.9rem;
}

.subscription-box input {
  padding: 20px 90px 15px 24px;
  background: rgb(232, 233, 235);
  color: rgba(51, 51, 51, 0.5);
}

.subscription-box button {
  padding: 20px 50px 15px 50px;
  background: rgb(3, 166, 123);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
}

/*위치*/
.location p {
  background: url("./img4/Map.png") no-repeat -130px 0;
  width: 1140px;
  height: 0;
  padding-top: 340px;
  overflow: hidden;
}

/*푸터*/
.footer {
  text-align: center;
}

.company img {
  margin-top: 50px;
}

.company p {
  width: 320px;
  margin-left: 410px;
  color: rgba(51, 51, 51, 0.5);
  line-height: 1.3;
  font-weight: normal;
}

.social-media li {
  display: inline-block;
}

.social-media li:first-child {
  margin-left: -40px;
}

.social-media a {
  display: inline-block;
  height: 0;
  padding-top: 18px;
  overflow: hidden;
  background-image: url("./img2/Social.png");
  background-repeat: no-repeat;
}

.slack {
  width: 16px;
}

.twitter {
  width: 16px;
  background-position: -34px 0;
}


.facebook {
  width: 9px;
  background-position: -70px 0;
}

.dribble {
  width: 18px;
  background-position: -100px 0;
}

.google {
  width: 20px;
  background-position: -132px 0;
}

.instagram {
  width: 18px;
  background-position: -168px 0;
}
